@using Library;
@{
    Function fc = new Function();
}
@section csslib_head{
    <link href="https://system.immgroup.com/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/animate.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/style.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <style>
        select.form-control:not([size]):not([multiple]) {
            height: 3.55rem !important;
        }

        .user-friends img {
            width: 60px !important;
            height: 60px !important;
        }

        .beginvs {
            min-height: 100px;
            max-height: 300px;
            overflow: scroll;
        }

        .endvs {
            min-height: 100px;
            max-height: 150px;
            overflow: scroll;
        }

        .list-group-item a {
            color: #3c3c3c;
        }

        .choose-flag {
            position: relative
        }

        .team-left, .team-right {
            position: absolute;
            top: -8px;
            left: 4px;
            color: #fb1b1b;
            font-weight: bold;
            padding: 0px 3px;
            font-size: 10px !important;
        }

        .tylekeo {
            color: #fb1b1b;
            font-size: 10px !important;
            font-weight: 700;
        }

        .team-right {
            left: 45px;
        }

        .endvs .team-left {
            left: 58px;
        }

        .endvs .team-right {
            left: 121px;
        }

        .bg-picked {
            background: #d2d2d2 !important;
        }

        .form-control {
            font-size: 1.4rem !important;
        }

        #ngaythidau, #ghichu {
            max-width: inherit;
        }

        .chosen-single {
            padding: 4px 10px !important;
            border-radius: 0 !important;
        }

        .fix-nation {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Righteous', cursive;
            background: #ffffffb3;
            border-radius: 15px;
            color: #000;
            padding: 15px;
        }

        .flag-card img {
            border-radius: 0%;
            border: 5px solid transparent;
            width: 150px;
            transition-duration: 0.1s;
        }

            .flag-card img:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: all ease 500ms;
            }

        .number-nation {
            font-size: 7rem;
            padding: 20px;
            position: relative;
        }

            .number-nation span {
                content: "";
                position: absolute;
                top: 20px;
                left: 50%;
                font-size: 12px;
                transform: translate(-50%);
            }

        .fix-center {
            padding-top: 10rem;
        }

        .add-vs {
            position: fixed;
            top: -2px;
            left: 0;
            z-index: 1;
        }

        .navbar-fixed-top {
            z-index: 10;
        }

        .display-0 {
            display: none;
        }

        .ibox-title, .ibox-content {
            background-color: #4e4e4e99 !important;
            border-color: #4e4e4e99 !important;
            color: #fff !important;
        }

        .tdhover:hover {
            background: #ffffff75;
            color: #161515 !important;
        }
        .tdhover {
            border-bottom: 1px #ccc solid !important;
            border-top:0!important;
        }

        @@media (min-width: 576px) and (max-width: 640px) {
            .fix-center {
                padding-top: 2rem;
            }

            .flag-card img {
                width: 45px;
            }

            .number-nation {
                font-size: 2rem;
                padding: 5px;
                margin-top: 10px;
            }

                .number-nation span {
                    font-size: 10px;
                    top: -11px;
                }
        }

        @@media (max-width: 575.98px) {
            .fix-center {
                padding-top: 2rem;
            }

            .flag-card img {
                width: 58px;
            }

            .number-nation {
                font-size: 2rem;
                padding: 5px;
                margin-top: 10px;
            }

                .number-nation span {
                    font-size: 10px;
                    top: -11px;
                }

            .fbold {
                font-weight: 500 !important;
                font-size: 15px;
            }

            .fix-nation {
                padding: 0
            }

            .gray-bg {
                background-repeat: repeat !important;
            }

            .user-friends img {
                width: 30px !important;
                height: 30px !important;
            }

            #totaltienB img, #totaltienA img {
                width: 15px;
            }
        }
    </style>
}

<div class="add-vs">
    <button class="btn btn-success btn-circle btn-lg m-2 @ViewBag.NotAdmin" type="button" data-toggle="modal" data-backdrop="static" data-target="#viewvs"><i class="fa  fa-plus"></i></button>
</div>
<div class="listxh">
    <button class="btn btn-success btn-lg m-2" type="button" data-toggle="modal" data-backdrop="static" data-target="#bangxephang">Bảng xếp hạng</button>
</div>


<div class="modal inmodal" id="viewvs">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="frmsb">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm trận đấu</h5>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Đội A</label>
                        <div class="row no-gutters">
                            <div class="col-10 col-md-10">
                                <select name="chooseA" id="chooseA" data-placeholder="Chọn đội" class="input-type form-control chosen-select">
                                    @foreach (var team in ViewBag.Team)
                                    {
                                        <option value="@team.FBT_ID">@team.FBT_NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2 col-md-2">
                                <input type="number" id="numberA" name="numberA" class="form-control required" min="0" max="5" step="0.5" value="0">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Đội B</label>
                        <div class="row no-gutters">
                            <div class="col-10 col-md-10">
                                <select name="chooseB" id="chooseB" data-placeholder="Chọn đội" class="input-type form-control chosen-select">
                                    @foreach (var team in ViewBag.Team)
                                    {
                                        <option value="@team.FBT_ID">@team.FBT_NAME</option>

                                    }
                                </select>
                            </div>
                            <div class="col-2 col-md-2">
                                <input type="number" id="numberB" name="numberB" class="form-control required" min="0" max="5" step="0.5" value="0">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="data_5">
                        <label class="col-form-label">Ngày</label>
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" id="ngaythidau" name="ngaythidau" placeholder="DD/MM/YYYY" class="form-control required ">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Lúc</label>
                        <div class="row no-gutters">
                            <div class="col-5 col-md-5">
                                <input type="text" id="giothidau" name="giothidau" placeholder="HH" class="form-control required ">
                            </div>
                            <div class="col-2 text-center"> <strong>:</strong></div>
                            <div class="col-5 col-md-5">
                                <input type="text" id="phutthidau" name="phutthidau" placeholder="mm" class="form-control required ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Ghi chú</label>
                        <textarea id="ghichu" name="ghichu" rows="4" placeholder="Ghi chú" class="form-control "></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal inmodal" id="nhapketqua">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="frmnhapketqua">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật tỷ số</h5>
                    <label id="mtchid" name="mtchid" class="col-form-label"></label>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="form-group">
                                <label id="namedoiA" name="namedoiA" class="col-form-label"></label>
                                <img id="flagdoiA" name="flagdoiA" src="~/Content/img/flags/32/Abkhazia.png" alt="flag">
                                <input type="text" id="ketquaA" name="ketquaA" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="form-group">
                                <label id="namedoiB" name="namedoiB" class="col-form-label"></label>
                                <img id="flagdoiB" name="flagdoiB" src="~/Content/img/flags/32/Abkhazia.png" alt="flag">
                                <input type="text" id="ketquaB" name="ketquaB" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="Capnhattyso();">Save changes</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal inmodal" id="datcuoc">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="frmnhapketqua">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn đội mình thích để xuống xác nào !!!</h5>
                </div>
                <div class="modal-body">

                    <input type="text" id="idteam_pick" name="idteam_pick" class="d-none" />
                    <input type="text" id="nameteam_pick" name="nameteam_pick" class="d-none" />
                    <p>Vì thể lệ năm 2022 thay đổi nên chỉ có một mức duy nhất</p>
                    <div class="px-4">
                        <div class="pl-0 radio radio-success">
                            <input type="radio" id="radio_datcuoc1" value="20000" name="radio_datcuoc" checked="">
                            <label for="radio_datcuoc1"> 20.000 </label>
                        </div>
                        @*<div class="pl-0 radio radio-success d-none">
                            <input type="radio" id="radio_datcuoc2" value="20000" name="radio_datcuoc">
                            <label for="radio_datcuoc2"> 20.000 coin</label>
                        </div>
                        <div class="pl-0 radio radio-success d-none">
                            <input type="radio" id="radio_datcuoc3" value="30000" name="radio_datcuoc">
                            <label for="radio_datcuoc3">30.000 coin</label>
                        </div>
                        <div class="pl-0 radio radio-success d-none">
                            <input type="radio" id="radio_datcuoc4" value="40000" name="radio_datcuoc">
                            <label for="radio_datcuoc4">40.000 coin</label>
                        </div>
                        <div class="pl-0 radio radio-success d-none">
                            <input type="radio" id="radio_datcuoc5" value="50000" name="radio_datcuoc">
                            <label for="radio_datcuoc5">50.000 coin</label>
                        </div>*@
                    </div>

                    @foreach (var match in ViewBag.Match)
                    {
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Khoan chờ tý, hơi rén !</button>
                            <button type="button" class="btn btn-primary" onclick="pickteam('@match.MTCH_ID','@match.idTeam1','@match.nameTeam1')">Không nói nhiều, Dứtttt</button>
                        </div>

                    }
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal inmodal" id="bangxephang">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="frmnhapketqua">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bảng Xếp Hạng</h5>
                </div>
                <div class="modal-body">

                    <ul class="list-group clear-list p-2 border">
                        @foreach (var m in ViewBag.BXH)
                        {
                        <li class="list-group-item">

                            @if (@m.TOPMAX.ToString() == @m.TOTALMONEY.ToString())
                            {
                                if (@m.NOTE2 != "")
                                {
                                    <span class="badge badge-success mt-2 ml-2">@m.NOTE2 </span>
                                }
                                <span class="text-navy mt-2 float-right">@Function.FormatCurrency("VND", Convert.ToInt32(@m.TOTALMONEY)) </span>
                                <div class="">
                                    <img class="rounded-circle ml-2" width="45" title="@m.STAFF_NAME" src="https://system.immgroup.com/Content/img/avatar/@m.Avatar" alt="flag">
                                    @m.STAFF_NAME
                                </div>
                            }
                            else if (@m.TOPMIN.ToString() == @m.TOTALMONEY.ToString())
                            {
                                if (@m.NOTE2 != "")
                                {
                                    <span class="badge badge-success mt-2 ml-2">@m.NOTE2 </span>
                                }
                                <span class="text-danger mt-2 float-right">@Function.FormatCurrency("VND", Convert.ToInt32(@m.TOTALMONEY)) </span>
                                <div class="">
                                    <img class="rounded-circle  ml-2" width="45" title="@m.STAFF_NAME" src="https://system.immgroup.com/Content/img/avatar/@m.Avatar" alt="flag">
                                    <img class="rounded-circle" width="55" src="/Content/img/avatar-f.png" alt="flag" style="position: absolute;left: 0px; top: 5px;">
                                    @m.STAFF_NAME
                                </div>

                            }
                            else
                            {
                                if (@m.NOTE2 != "")
                                {
                                    <span class="badge badge-success mt-2 ml-2">@m.NOTE2 </span>
                                }
                                <span class="text-dark mt-2 float-right">@Function.FormatCurrency("VND", Convert.ToInt32(@m.TOTALMONEY)) </span>

                                <div class="">
                                    <img class="rounded-circle ml-2" width="45" title="@m.STAFF_NAME" src="https://system.immgroup.com/Content/img/avatar/@m.Avatar" alt="flag">
                                    @m.STAFF_NAME
                                </div>
                            }
                        </li>

                        }
                    </ul>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="fix-hieght animated fadeInDown">
    <div class="fix-center">
        <div class="row m-0">
            @foreach (var match in ViewBag.Match)
            {

                string flagimg1 = @match.flagTeam1 + ".png";
                string flagimg2 = @match.flagTeam2 + ".png";
                string avatar1 = ""; string avatar2 = "";
                <div class="col-12">
                    <div class="text-center">
                        <button class="btn btn-success btn-lg m-2 @ViewBag.NotAdmin display-@match.FLAG_ACTIVE" type="button" onclick="nhapketqua('@match.MTCH_ID','@match.nameTeam1','@flagimg1','@match.nameTeam2','@flagimg2');">Nhập kết quả</button>
                        <button class="btn btn-danger btn-lg m-2 @ViewBag.NotAdmin d-none" type="button" onclick="Khoacuoc('@match.MTCH_ID','@match.idTeam1','@match.idTeam2');">Khoá cược</button>
                    </div>
                </div>
                <div class="col-4 col-md-5 text-center text-white" style="">
                    <div class="flag-card" onclick="pickteamfirst('@match.FLAG_ACTIVE','@match.idTeam1','@match.nameTeam1')">
                        <img src="~/Content/img/flags/64/@flagimg1" alt="flag">
                    </div>
                    <div class="my-md-5">
                        <h2 class="fbold">
                            @match.nameTeam1
                        </h2>
                        <div class="user-friends">
                            @{
                                int total1 = 0;
                            }
                            @foreach (var md1 in ViewBag.MatchDetails)
                            {
                                avatar1 = md1.NOTE1 + ".jpg";
                                if (md1.TEAM_ID == match.idTeam1)
                                {
                                    //total1 += Convert.ToInt32(md1.MTCHD_NOTE);
                                    <a href="#" title="@md1.USER_NAME"><img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@avatar1" style="border: 2px #ffffffde solid;"></a>
                                }
                            }
                        </div>
                    </div>
                    <div id="totaltienA" name="totaltienA" class="d-none">@total1</div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="fix-nation" style="background: #ffffffb3; border-radius: 15px; color: #000; padding: 15px; ">
                        <div class="number-nation">@match.TYSO_1<span class="label label-danger display-@match.KEO_1">+ @match.KEO_1</span></div>
                        <div class="number-nation mb-4">:</div>
                        <div class="number-nation">@match.TYSO_2<span class="label label-danger display-@match.KEO_2">+ @match.KEO_2</span></div>
                    </div>

                </div>
                <div class="col-4 col-md-5 text-center text-white" style="">
                    <div class="flag-card" onclick="pickteamfirst('@match.FLAG_ACTIVE','@match.idTeam2','@match.nameTeam2')">
                        <img src="~/Content/img/flags/64/@flagimg2" alt="flag">
                    </div>
                    <div class="my-md-5">
                        <h2 class="fbold">
                            @match.nameTeam2
                        </h2>
                        <div class="user-friends">
                            @{
                                int total2 = 0;
                            }
                            @foreach (var md2 in ViewBag.MatchDetails)
                            {
                                avatar2 = md2.NOTE1 + ".jpg";
                                if (md2.TEAM_ID == match.idTeam2)
                                {
                                    //total2 += Convert.ToInt32(md2.MTCHD_NOTE);
                                    <a href="#" title="@md2.USER_NAME"><img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@avatar2" style="border: 2px #ffffffde solid;"></a>
                                }

                            }
                        </div>
                    </div>
                    <div id="totaltienB" name="totaltienB" class="d-none">@total2</div>
                </div>
            }
        </div>

    </div>

</div>

<div class="row mt-5" style="max-height:600px;">

    <div class="col-md-6 offset-md-3">
        <div class="ibox ">
            <div class="ibox-title text-center">
                @foreach (var m in ViewBag.BXH)
                {
                    string _totaltien = Function.FormatCurrency("VND", @m.TOTALTIEN);
                    string _totalbuan = @m.TOTALBUAN.ToString();
                    <h2>Tổng số tiền quyên góp <span class="text-danger">@_totaltien</span> tương đương <span class="text-danger">@_totalbuan</span> suất ăn cho em </h2>
                    break;
                }
            </div>
            <div class="ibox-content">

                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Sắp diễn ra</a></li>
                                <li><a class="nav-link" href="#tab-2" data-toggle="tab">Đã kết thúc</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                <div class="table-responsive" style=" overflow-x: hidden;">
                                    <table class="table table-striped table-assessment">
                                        <tbody>
                                            @foreach (var m in ViewBag.MatchNext)
                                            {
                                                string flagi1 = @m.flagTeam1 + ".png";
                                                string flagi2 = @m.flagTeam2 + ".png";
                                                string flagticked = fc.CheckPicked(@m.MTCH_ID);
                                                <tr>
                                                    <td class="tdhover">
                                                        <a href="/home/@m.MTCH_ID" class="text-white">
                                                            <div class="row">
                                                                <div class="col-12 text-center" style="border-left: 0px #ccc solid;">
                                                                    <small>Lúc @m.MTCH_HH:@m.MTCH_MM ngày @m.MTCH_DATE</small>
                                                                </div>
                                                                <div class="col-5 p-0">
                                                                    <div class="row">
                                                                        <div class="col-12 text-right">
                                                                            <span class="tylekeo display-@m.KEO_1">+ @m.KEO_1</span>
                                                                            @m.nameTeam1
                                                                            <img title="@m.nameTeam1" src="~/Content/img/flags/32/@flagi1" alt="flag">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-2 text-center p-0">
                                                                    @m.TYSO_1 - @m.TYSO_2
                                                                </div>
                                                                <div class="col-5 p-0">
                                                                    <div class="row">
                                                                        <div class="col-12 text-left">
                                                                            <img title="@m.nameTeam2" src="~/Content/img/flags/32/@flagi2" alt="flag"> @m.nameTeam2
                                                                            <span class="tylekeo display-@m.KEO_2">+ @m.KEO_2</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row d-none">
                                                                <div class="col-md-6">
                                                                    @{
                                                                        string ava1 = "";
                                                                        foreach (var md1 in ViewBag.MatchDetailsAll)
                                                                        {
                                                                            if (md1.MTCH_ID == m.MTCH_ID)
                                                                            {
                                                                                ava1 = md1.NOTE1 + ".jpg";
                                                                                if (md1.TEAM_ID == m.idTeam1)
                                                                                {
                                                                                    <img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@ava1" style="height: 20px;">
                                                                                }
                                                                            }


                                                                        }
                                                                    }
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @{
                                                                        string ava2 = "";
                                                                        foreach (var md2 in ViewBag.MatchDetailsAll)
                                                                        {
                                                                            if (md2.MTCH_ID == m.MTCH_ID)
                                                                            {
                                                                                ava2 = md2.NOTE1 + ".jpg";
                                                                                if (md2.TEAM_ID == m.idTeam2)
                                                                                {
                                                                                    <img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@ava2" style="height: 20px;">
                                                                                }
                                                                            }


                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="table-responsive">
                                    <table class="table table-striped table-assessment">
                                        <tbody>
                                            @foreach (var m in ViewBag.MatchDone)
                                            {
                                                string flagi1 = @m.flagTeam1 + ".png";
                                                string flagi2 = @m.flagTeam2 + ".png";
                                                string flagticked = fc.CheckPicked(@m.MTCH_ID);
                                                <tr>
                                                    <td class="tdhover">
                                                        <a href="/home/@m.MTCH_ID" class="text-white">
                                                            <div class="row">
                                                                <div class="col-12 text-center" style="border-left: 0px #ccc solid;">
                                                                    <small>Lúc @m.MTCH_HH:@m.MTCH_MM ngày @m.MTCH_DATE</small>
                                                                </div>
                                                                <div class="col-5 p-0">
                                                                    <div class="row">
                                                                        <div class="col-12 text-right">
                                                                            <span class="tylekeo display-@m.KEO_1">+ @m.KEO_1</span>
                                                                            @m.nameTeam1
                                                                            <img title="@m.nameTeam1" src="~/Content/img/flags/32/@flagi1" alt="flag">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-2 text-center p-0">
                                                                    @m.TYSO_1 - @m.TYSO_2
                                                                </div>
                                                                <div class="col-5 p-0">
                                                                    <div class="row">
                                                                        <div class="col-12 text-left">
                                                                            <img title="@m.nameTeam2" src="~/Content/img/flags/32/@flagi2" alt="flag"> @m.nameTeam2
                                                                            <span class="tylekeo display-@m.KEO_2">+ @m.KEO_2</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row d-none">
                                                                <div class="col-5">
                                                                    @{
                                                                        string ava1 = "";
                                                                        foreach (var md1 in ViewBag.MatchDetailsAll)
                                                                        {
                                                                            if (md1.MTCH_ID == m.MTCH_ID)
                                                                            {
                                                                                ava1 = md1.NOTE1 + ".jpg";
                                                                                if (md1.TEAM_ID == m.idTeam1)
                                                                                {
                                                                                    <img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@ava1" style="height: 20px;">
                                                                                }
                                                                            }


                                                                        }
                                                                    }
                                                                </div>
                                                                <div class="col-2 text-center">|</div>
                                                                <div class="col-5">
                                                                    @{
                                                                        string ava2 = "";
                                                                        foreach (var md2 in ViewBag.MatchDetailsAll)
                                                                        {
                                                                            if (md2.MTCH_ID == m.MTCH_ID)
                                                                            {
                                                                                ava2 = md2.NOTE1 + ".jpg";
                                                                                if (md2.TEAM_ID == m.idTeam2)
                                                                                {
                                                                                    <img alt="image" class="rounded-circle" src="https://system.immgroup.com/Content/img/avatar/@ava2" style="height: 20px;">
                                                                                }
                                                                            }


                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
@section jslib_footer {

    <script src="https://system.immgroup.com/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/popper.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/bootstrap.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#data_5 .input-daterange').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "dd/mm/yyyy"
            });

            $('.chosen-select').chosen({ width: "100%" });

            $(".spin-icon").click(function () {
                $(".theme-config-box").toggleClass("show");
            });

            $(".frmsb").validate({
                lang: 'vi',
                ignore: [],
                submitHandler: function (form) {
                    AddVS();
                }
            });
            //totaltienB
            var tien1 = $('#totaltienA').text();
            var tien2 = $('#totaltienB').text();
            var yourtien = $("#youraccount").text();
            $('#totaltienA').empty();
            $('#totaltienB').empty();
            $('#totaltienA').append(formatNumber(tien1) + " <img src='/Content/img/money.png'  width='30' />");
            $('#totaltienB').append(formatNumber(tien2) + " <img src='/Content/img/money.png'  width='30'  />");
            // $("#youraccount").text("Số dư tài khoản của bạn là : " + formatNumber(yourtien) + " đ");
            $("#bangxephang").modal("show");
        });

        function AddVS() {
            var form = new FormData();
            form.append("_chooseA", $('#chooseA').val());
            form.append("_chooseB", $('#chooseB').val());
            form.append("_numberA", $("#numberA").val());
            form.append("_numberB", $("#numberB").val());
            form.append("_ngaythidau", $("#ngaythidau").val());
            form.append("_giothidau", $("#giothidau").val());
            form.append("_phutthidau", $("#phutthidau").val());
            form.append("_ghichu", $("#ghichu").val());

            //AJAX REQUEST
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/home/add/submit", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var res = xhr.responseText;
                    var j_res = JSON.parse(res);
                    if (j_res.mess !== "") {
                        swal({ title: "Đã tạo thành công!", text: "", type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    } else {
                        swal({ title: j_res.header, text: j_res.mess, type: j_res.type });
                    }
                }
            };
            xhr.send(form);
        }


        function pickteamfirst(flag, idteam_1, nameteam_1) {
            if (flag !== "0") {
                $('#nameteam_pick').attr('value', nameteam_1);
                $('#idteam_pick').attr('value', idteam_1);
                $('#datcuoc').modal("show");
            } else {
                swal("Lỗi", "Trận đấu đã kết thúc rồi!.", "error");
                $('#datcuoc').modal("hide");
            }

        }

        function pickteam(mtchid) {
            swal({
                title: "Xác nhận!",
                text: "Bạn chắc chắn chọn đội " + $("#nameteam_pick").val() + ".",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Chắc rồi!",
                cancelButtonText: "Để coi lại",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var form = new FormData();
                        form.append("_idteam", $("#idteam_pick").val());
                        form.append("_mtchid", mtchid);
                        form.append("_datcuoc", $("input[name='radio_datcuoc']:checked").val());
                        //AJAX REQUEST
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/home/pickteam/submit", true);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                var res = xhr.responseText;
                                var j_res = JSON.parse(res);
                                if (j_res.type === "success") {
                                    swal({ title: "Thông báo", text: "Bạn vừa đặt cược đội " + $("#nameteam_pick").val() + " . Hi vọng phước đức bạn đủ lớn.", type: "success" },
                                        function () {
                                            location.reload();
                                        }
                                    );
                                } else {
                                    swal({ title: j_res.header, text: j_res.mess, type: j_res.type });
                                }

                            }
                        };
                        xhr.send(form);
                    } else {
                        swal("Huỷ", "Chính xác, Rén thì chơi banh đũa đi.", "error");
                    }
                });
        }

        function nhapketqua(mtchid, team1, fteam1, team2, fteam2) {
            $('#nhapketqua').modal("show");
            $("#flagdoiA").attr("src", "/Content/img/flags/32/" + fteam1);
            $("#flagdoiB").attr("src", "/Content/img/flags/32/" + fteam2);
            $('#namedoiA').text(team1);
            $('#namedoiB').text(team2);
            $('#mtchid').text(mtchid);

        }
        function Capnhattyso() {
            var matchId = $('#mtchid').text();
            var tysot1 = $('#ketquaA').val();
            var tysot2 = $('#ketquaB').val();
            var namedoiA = $('#namedoiA').text();
            var namedoiB = $('#namedoiB').text();

            if (matchId != "" && tysot1 != "" && tysot2 != "") {
                swal({
                    title: "Xác nhận!",
                    text: "Cập nhật tỷ số " + namedoiA + " : " + tysot1 + " - " + tysot2 + " : " + namedoiB,
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Chắc rồi!",
                    cancelButtonText: "Để coi lại",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var form = new FormData();
                            form.append("_tysot1", tysot1);
                            form.append("_tysot2", tysot2);
                            form.append("_mtchid", matchId);
                            //AJAX REQUEST
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/home/endmatch/submit", true);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    var res = xhr.responseText;
                                    var j_res = JSON.parse(res);
                                    if (j_res.type === "success") {
                                        swal({ title: "Thông báo", text: "Xong rồi", type: "success" },
                                            function () {
                                                location.reload();
                                            }
                                        );
                                    } else {
                                        swal({ title: j_res.header, text: j_res.mess, type: j_res.type });
                                    }

                                }
                            };
                            xhr.send(form);
                        } else {
                            swal("Huỷ", "Chỉnh bậy ngta mất tiền ngta chửi đó", "error");
                        }
                    });
            } else {
                swal("Lỗi", "Sai ở chỗ nào rồi", "error");
            }
        }
        function Khoacuoc(matchId, _team1, _team2) {
            var form = new FormData();
            form.append("_mtchid", matchId);
            form.append("_team1", _team1);
            form.append("_team2", _team2);
            //AJAX REQUEST
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/home/blockmatch/submit", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var res = xhr.responseText;
                    var j_res = JSON.parse(res);
                    if (j_res.type === "success") {
                        swal({ title: "Thông báo", text: "Xong rồi", type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    } else {
                        swal({ title: j_res.header, text: j_res.mess, type: j_res.type });
                    }

                }
            };
            xhr.send(form);
        }

        function formatNumber(n) {
            // format number 1000000 to 1,234,567
            return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    </script>


}