@{
    ViewBag.Title = "Home Page";
}

@section csslib_head{
    <link href="https://system.immgroup.com/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/animate.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/style.css" rel="stylesheet">
    <link href="https://system.immgroup.com/Content/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Staatliches&display=swap" rel="stylesheet">
    <style>
        .form-control {
            font-size: 1.4rem;
        }

        #ngaythidau, #ghichu {
            max-width: inherit;
        }

        .chosen-single {
            padding: 4px 10px !important;
            border-radius: 0 !important;
        }

        .fix-nation {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Righteous', cursive;
        }

        .flag-card img {
            border-radius: 50%;
            border: 5px solid transparent;
        }

            .flag-card img:hover {
                border-color: #ff7533;
                cursor: pointer;
            }

        .number-nation {
            font-size: 7rem;
            padding: 20px;
            position: relative;
        }

            .number-nation span {
                content: "";
                position: absolute;
                top: 20px;
                left: 50%;
                font-size: 12px;
                transform: translate(-50%);
            }

        .fix-center {
            padding-top: 10rem;
        }

        .add-vs {
            position: fixed;
            top: -2px;
            left: 0;
            z-index: 1;
        }

        .navbar-fixed-top {
            z-index: 10;
        }
        .display-0{
            display:none;
        }
        @@media (min-width: 576px) and (max-width: 640px) {
            .fix-center {
                padding-top: 2rem;
            }
        }

        @@media (max-width: 575.98px) {
            .fix-center {
                padding-top: 2rem;
            }
        }
    </style>
}

<div class="add-vs">
    <button class="btn btn-info btn-circle btn-lg m-2" type="button" data-toggle="modal" data-backdrop="static" data-target="#viewvs"><i class="fa  fa-plus"></i></button>
</div>



<div class="modal inmodal" id="viewvs">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="frmsb">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm trận đấu</h5>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-form-label">Đội A</label>
                        <div class="row no-gutters">
                            <div class="col-md-10">
                                <select name="chooseA" id="chooseA" data-placeholder="Chọn sản phẩm" class="input-type form-control chosen-select">
                                    @foreach (var team in ViewBag.Team)
                                    {
                                        <option value="@team.FBT_ID">@team.FBT_NAME</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="number" id="numberA" name="numberA" class="form-control" min="-5" max="5" step="0.5" value="0">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Đội B</label>
                        <div class="row no-gutters">
                            <div class="col-md-10">
                                <select name="chooseB" id="chooseB" data-placeholder="Chọn sản phẩm" class="input-type form-control chosen-select">
                                    @foreach (var team in ViewBag.Team)
                                    {
                                        <option value="@team.FBT_ID">@team.FBT_NAME</option>

                                    }
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="number" id="numberB" name="numberB" class="form-control" min="-5" max="5" step="0.5" value="0">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Ngày</label>
                        <input type="text" id="ngaythidau" name="ngaythidau" placeholder="Ngày thi đấu" class="form-control required " >
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Ngày</label>
                        <textarea id="ghichu" name="ghichu" rows="4" placeholder="Ghi chú" class="form-control "></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="theme-config">
    <div class="theme-config-box show">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-settings">
            <div class="title">Trận đấu kế tiếp</div>
            <div>
                <ul class="list-group clear-list p-2 border">
                    <li class="list-group-item ">
                        <a href="#">
                            <span class="float-right mt-2">Kèo 1.5:00 </span>
                            <div class="choose-flag">
                                <img src="img/flags/32/Abkhazia.png" alt="flag">
                                <span> 0 - 0 </span>
                                <img src="img/flags/32/Abkhazia.png" alt="flag">
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item ">
                        <span class="float-right mt-2">Kèo 1.5:00 </span>
                        <div>
                            <img src="img/flags/32/Abkhazia.png" alt="flag">
                            <span> 0 - 0 </span>
                            <img src="img/flags/32/Abkhazia.png" alt="flag">
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<div class="fix-hieght animated fadeInDown">
    <div class="fix-center">
        <div class="row m-0">
            @foreach (var match in ViewBag.Match)
            {             
                <div class="col-md-5 text-center">
                    <div class="flag-card">
                        <img src="~/Content/img/flags/64/@match.flagTeam1" alt="flag">
                    </div>
                    <div class="my-5">
                        <p class="small">
                            @match.nameTeam1
                        </p>
                        <div class="user-friends">
                            @foreach (var md1 in ViewBag.MatchDetails)
                            {
                                if (md1.TEAM_ID = match.idTeam1)
                                {
                                    <a href=""><img alt="image" class="rounded-circle" src="~/Content/img/avatar/@md1.NOTE1.jpg"></a>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="fix-nation">
                        <div class="number-nation">@match.TYSO_1<span class="label label-primary display-@match.KEO_1">@match.KEO_1</span></div>
                        <div class="number-nation mb-4">:</div>
                        <div class="number-nation">@match.TYSO_2<span class="label label-primary display-@match.KEO_2">@match.KEO_2</span></div>
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <div class="flag-card">
                        <img src="~/Content/img/flags/64/@match.flagTeam2" alt="flag">
                    </div>
                    <div class="my-5">
                        <p class="small">
                            @match.nameTeam2
                        </p>
                        <div class="user-friends">
                            @foreach (var md2 in ViewBag.MatchDetails)
                            {
                                if (md2.TEAM_ID = match.idTeam2)
                                {
                                    <a href=""><img alt="image" class="rounded-circle" src="~/Content/img/avatar/@md2.NOTE1.jpg"></a>
                                }

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
            
    </div>

</div>

@section jslib_footer {

    <script src="https://system.immgroup.com/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/popper.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/bootstrap.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/chosen/chosen.jquery.js"></script>
    <script src="https://system.immgroup.com/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $(".spin-icon").click(function () {
                $(".theme-config-box").toggleClass("show");
            });
            $(".frmsb").validate({
                lang: 'vi',
                ignore: [],
                submitHandler: function (form) {
                    AddVS();
                }
            });
        });

        function AddVS() {
            var form = new FormData();
            form.append("_chooseA", $('#chooseA').val());  
            form.append("_chooseB", $('#chooseB').val());
            form.append("_numberA", $("#numberA").val());
            form.append("_numberB", $("#numberB").val());
            form.append("_ngaythidau", $("#ngaythidau").val());
            form.append("_ghichu", $("#ghichu").val());
        
            //AJAX REQUEST
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/home/add/submit", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var res = xhr.responseText;
                    var j_res = JSON.parse(res);

                    if (j_res.mess !== "") {
                        swal({ title: "Đã tạo thành công!", text: "", type: "success" });
                    } else {
                        swal({ title: j_res.header, text: j_res.mess, type: j_res.type });
                    }
                }
            };
            xhr.send(form);
        }

    </script>


}